<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

<style>
<!--
 /* Font Definitions */
 @@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@@font-face
	{font-family:等线;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@@font-face
	{font-family:微软雅黑;
	panose-1:2 11 5 3 2 2 4 2 2 4;}
@@font-face
	{font-family:"\@@微软雅黑";}
@@font-face
	{font-family:"\@@等线";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:等线;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{mso-style-link:"页眉 字符";
	margin:0cm;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:等线;}
span.a
	{mso-style-name:"页眉 字符";
	mso-style-link:页眉;}
.MsoChpDefault
	{font-family:等线;}
 /* Page Definitions */
 @@page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;
	layout-grid:15.6pt;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=ZH-CN style='word-wrap:break-word;text-justify-trim:punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoHeader align=left style='text-align:left;border:none'><b><span
style='font-size:12.0pt;font-family:"微软雅黑",sans-serif'>家属签名</span></b><b><span
style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>：<span lang=EN-US>_____________________</span></span></b></p>

<p class=MsoNormal align=center style='text-align:center;layout-grid-mode:char'><b><span
lang=EN-US style='font-size:12.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=center style='text-align:center;layout-grid-mode:char'><b><span
style='font-size:12.0pt;font-family:"微软雅黑",sans-serif'>老人日常生活能力评估表</span></b></p>

<p class=MsoNormal align=center style='text-align:center;layout-grid-mode:char'><b><span
lang=EN-US style='font-size:12.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></b></p>

<table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=138 valign=top style='width:103.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><b><span style='font-size:
  10.0pt;font-family:"微软雅黑",sans-serif'>住院号：<span lang=EN-US></span></span></b></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><b><span style='font-size:
  10.0pt;font-family:"微软雅黑",sans-serif'>姓名：</span></b></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><b><span style='font-size:
  10.0pt;font-family:"微软雅黑",sans-serif'>床位号：<span lang=EN-US></span></span></b></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><b><span style='font-size:
  10.0pt;font-family:"微软雅黑",sans-serif'>护理等级：六级</span></b></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='layout-grid-mode:char'><span lang=EN-US
style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
font-family:"微软雅黑",sans-serif'>评估日期：<span lang=EN-US></span></span></p>

<p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
font-family:"微软雅黑",sans-serif'>评估员：</span></p>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=138 valign=top style='width:103.7pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
  font-family:"微软雅黑",sans-serif'>满分：<span lang=EN-US>450</span></span></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
  font-family:"微软雅黑",sans-serif'>评估得分：<span lang=EN-US>-232</span></span></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
  font-family:"微软雅黑",sans-serif'>实得分：<span lang=EN-US>218</span></span></p>
  </td>
  <td width=138 valign=top style='width:103.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:10.0pt;
  font-family:"微软雅黑",sans-serif'>健康状况：不能自理</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal style='layout-grid-mode:char'><span lang=EN-US
style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>

<div align=center>

<table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>序号</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border:solid windowtext 1.0pt;
  border-left:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>项目类型</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border:solid windowtext 1.0pt;
  border-left:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>项目名称</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border:solid windowtext 1.0pt;
  border-left:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>标准分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border:solid windowtext 1.0pt;
  border-left:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>结果</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border:solid windowtext 1.0pt;
  border-left:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>分值</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>1</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>整理床铺的能力</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-8</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>完全帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-8</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>2</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>整理衣柜的能力</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-8</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>完全帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-8</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>3</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于翻身的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-20</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能自己翻身</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>4</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于起身的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-6</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能自己起身</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>5</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于坐姿保持的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-6</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能自己保持</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>6</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>双脚站立姿势的保持问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-6</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能自己保持</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>7</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>身体功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于步行的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-8</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能自己走路</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>……</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>110</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-50</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-50</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>14</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>生活功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于转乘电梯的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-2</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>完全靠帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-2</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>15</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>生活功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于走出居室的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-2</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>不需要帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>16</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>生活功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于走出居室的次数</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-6</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>一个月一次不到</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-6</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>17</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>生活功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于吃饭的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-20</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>部分帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-10</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>18</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>生活功能</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>关于排尿的问题</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-20</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>部分帮助</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-10</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>……</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>30</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-30</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>28</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>认知能力</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>能说出自己的名字和年龄</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-5</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>不能</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-5</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>……</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>30</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-30</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>35</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>社会适应性</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>洗漱用品的分辨能力</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-8</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>经常用错</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-8</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>……</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>50</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-46</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>41</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>医疗评估</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>褥疮</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-20</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>否</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>……</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>120</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-20</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>47</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>情绪行为</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>情绪</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>0-10</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>情绪不稳定，通过沟通能被人理解</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>-2</span></p>
  </td>
 </tr>
 <tr>
  <td width=56 valign=top style='width:42.3pt;border:solid windowtext 1.0pt;
  border-top:none;background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>小计</span></p>
  </td>
  <td width=94 valign=top style='width:70.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>满分</span></p>
  </td>
  <td width=170 valign=top style='width:127.6pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>30</span></p>
  </td>
  <td width=66 valign=top style='width:49.6pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;color:black'>得分</span></p>
  </td>
  <td width=123 valign=top style='width:92.15pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif;
  color:black'>-22</span></p>
  </td>
  <td width=43 valign=top style='width:32.3pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  background:#D9D9D9;padding:0cm 5.4pt 0cm 5.4pt'>
  <p class=MsoNormal align=center style='text-align:center;layout-grid-mode:
  char'><span lang=EN-US style='font-size:10.0pt;font-family:"微软雅黑",sans-serif'>&nbsp;</span></p>
  </td>
 </tr>
</table>

</div>

<p class=MsoNormal style='layout-grid-mode:char'><span style='font-size:8.0pt;
font-family:"微软雅黑",sans-serif;color:white'>说明：轻度</span><span lang=EN-US
style='font-size:8.0pt;font-family:"微软雅黑",sans-serif'>1</span><span
style='font-size:8.0pt;font-family:"微软雅黑",sans-serif'>：<span lang=EN-US>431-450</span>分
&nbsp;轻度<span lang=EN-US>2</span>：<span lang=EN-US>401-430</span>分 &nbsp;中度：<span
lang=EN-US>351-400</span>分 &nbsp;中度<span lang=EN-US>2</span>：<span lang=EN-US>301-350</span>分
&nbsp;重度<span lang=EN-US>1</span>：<span lang=EN-US>251-300</span>分 &nbsp;重度<span
lang=EN-US>2</span>：<span lang=EN-US>0-250</span>分</span></p>

</div>

</body>

</html>
